* {
	box-sizing: border-box;
}
html {
	font-family: "Montserrat", arial, sans-serif;
	margin: 2em;
}

li > p { display: inline; }

table { border-collapse: collapse; }

td {
	border: 1px solid #aaa;
	padding: 4px;
}

th { white-space: nowrap; padding: 0px 5px; }

td a {
	font-family: monospace;
}

footer {
	font-size: .9em;
	font-style: italic;
}

a { text-decoration: none; }
